<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wapper">
	<div class="topshell">
	
	</div>
			<div id="wrapper_header">
			    <div class="header">
			                <div class="logo_box">
			                	<img src="images/logo.png" width="208" height="95" />
			                </div>
			                
			                <div class="toparea">
							            <div class="guestlogin"><a>Guest abc</a></div>
												  <div class="welcomebox"><a>Welcome :</a></div>
										
										
										
										  </div>
			    </div>
			</div>
<!------HEADER END------------->

			<div class="navishell">
			<div class="naviarea">
			<!-- navigation bar start -->
			   <ul id="nav">
			      <li><a href="#">About Us</a></li>
			      <li><a href="#">Packages</a></li>
			      <li><a href="#">FAQs</a></li>
			      <li><a href="#">Contact</a></li>
			      <li><a href="#">Login</a></li>
			   </ul>
			<!-- navigation bar start -->
			
			
			</div>
			</div>





			<div class="contentshell">
			<div class="contentarea">
			
			
			</div>
			</div>

			<div class="fottershell">
				<div class="fotterarea">
					<div class="fottertext">
					<a>© 2014, 99ysNetwork LLP, All rights reserved.</a>
					
					</div>
				</div>
			</div>


</div><!--wrapper closed-->




</body>
</html>
